/* Source for Parallax effect url: https://www.youtube.com/watch?v=TawH-AqHTXc&ab_channel=OnlineTutorials  */

body {
	background: hsl(206, 74%, 15%);
	z-index: 10;
}

p {
	width: 43.75rem;
	margin-right: auto;
	margin-left: auto;
	padding: 30px;
	color: #fff;
	font-size: 20px;
	line-height: 1.6em;
	/* letter-spacing: 0.125; */
	text-align: center;
 }

 section:before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 6.25rem;
	background: linear-gradient(to top, #0a2a43, transparent);
	z-index: 10000;
 }