/*Source for sidebar: https://www.youtube.com/watch?v=wEfaoAa99XY&t=2s&ab_channel=CodingLab */

.navigation-list {
	position: relative;
	right: 10px;
	top: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
 }
 
 .links-name {
	color: var(--secondary-color);
 }
 
 .sidebar {
	position: fixed;
	top: 4.063rem;
	left: 0;
	height: 100%;
	width: 15rem;
	background: var(--primary-color);
	padding: 0.375rem 1.063rem;
	z-index: 100000;
	overflow: hidden;
	transition: all 400ms ease-in-out;
 }
 
 .sidebar.active {
	width: 4.688rem;
 }

 .sidebar.active .links-name {
	display: none;
	
 }

 
 .sidebar .logo-content .logo {
	color: rgb(255, 246, 246);
	display: flex;
	height: 3.125rem;
	width: 100%;
	align-items: center;
	gap: 0.125rem;
 }
 
 .logo-content .logo {
	font-size: 1.375;
	/* margin-right: 20px; */
 }
 
 .logo-content .logo .logo-name {
	font-size: 1.25rem;
	font-weight: 400;
 }
 
 .sidebar.active .logo-name {
	position: relative;
	left: 0.313;
 }
 
 .sidebar.active .logo {
	position: relative;
	left: 9.375rem;
 }
 
 .sidebar #button {
	position: absolute;
	top: 0.5rem;
	left: 90%;
	width: 3.125rem;
	height: 3.125rem;
	line-height: 3.125rem;
	text-align: center;
	color: rgb(255, 246, 246);
	font-size: 1.25rem;
	transform: translate(-50%);
 }
 
 .sidebar.active #button {
	top: 0.625rem;
	left: 2.5rem;
	font-size: 1.625rem;
 }
 
 .sidebar ul li {
	position: relative;
	margin: 0 0.625rem;
	width: 100%;
	height: 3.125rem;
	width: 100%;
	line-height: 	height: 3.125rem;
	;
 }
 
 .sidebar ul li .tooltip {
	position: relative;
	left: 7.5rem;
	top: -6.25rem;
	padding: 0.625rem;
	transform: translateX(-50%);
	border-radius: 6px;
	background: #fff;
	text-align: center;
	transition: 0s;
	opacity: 0;
	pointer-events: none;
 }
 
 .sidebar ul li:hover .tooltip {
	top: 0%;
	transition: all 0.5s ease;
	opacity: 1;
 }
 
 .sidebar ul li input {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	padding-left: 3.125rem;
	background: rgb(255, 246, 246);
	color: rgb(22, 20, 20);
	outline: none;
	border: none;
	border-radius: 12px;
	font-size: 1.125rem;
 }
 
 .sidebar ul li .bx-search {
	position: relative;
	z-index: 99;
	color: rgb(21, 18, 18);
	font-size: 1.125rem;
 }
 
 .sidebar ul li a {
	color: rgb(241, 241, 241);
	display: flex;
	align-items: center;
	transition: all 0.4s ease;
	border-radius: 12px;
 }
 
 .sidebar ul li a:hover {
	color: #fff;
	background: #0b071a;
 }
 
 .sidebar ul li i {
	height: 3.125rem;
	min-width: 3.125rem;
	border-radius: 12px;
	line-height: 3.125rem;
	text-align: center;
 }
 
 .sidebar .profile-content {
	position: relative;
	top: 2.5rem;
	right: 1.25rem;
	width: 28.125rem;
	color: #fff;
	overflow: hidden;
 }
 
 .sidebar .profile-content .profile {
	position: relative;
	padding: 0.625rem 0.375rem;
	height: 60px;
	background: #0b071a;
	/* overflow: hidden; */
 }
 
 .profile-content .profile .profile-details {
	display: flex;
	align-items: center;
 }
 
 .profile .profile-details img {
	width: 2.188rem;
	height: 2.188rem;
	object-fit: cover;
	border-radius: 12px;
 }
 
 .sidebar.active .profile .profile-details img {
	 display: none;
 }
 
 .profile .profile-details .name-job {
	margin-left: 0.625rem;
 }
 
 .sidebar.active .profile .profile-details .name-job {
	 display: none;
 }
 
 .profile .profile-details .name {
	font-size: 0.938rem;
	font-weight: 500;
 }
 
 .profile .profile-details .job {
	font-size: 0.75rem;
 }
 
 .profile #log-out {
	position: relative;
	bottom: 2.5rem;
	left: 220px;
	min-width: 13.75;
	color: rgb(246, 246, 246);
	transform: translate(-50%);
	font-size: 1.25rem;
	line-height: 3.125;
	border-radius: 12px;
 }
 
 .sidebar.active .profile #log-out {
	 position: relative;
	 left: 2.3rem;
	 bottom: 0.813rem;
 }